.login__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login {
  background-color: white;
  /* height: 150vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 68px;
}
.login__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px splid lightgray;
}
.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__signInButton {
  background: greenyellow;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #082e03 #dba418 #0c9248;
}
.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10ppx;
  border-color: darkgray;
}
